.MainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  height: 100vh;
}

.ContentImageBackground {
  display: flex;
  align-items: center;
  grid-column: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: var(--blue500);
}

.ContentImageBackground div {
  margin: 0 auto;
}

.ContentImageBackground h1 {
  color: var(--whiteFull);
  font-size: 7rem;
  font-weight: 300;
}

.ContentImageBackground h1::after {
  content: "";
  display: block;
  background: var(--blue200);
  width: 100%;
  height: 0.5rem;
  position: relative;
}

.ContentImageBackground h1::before {
  position: absolute;
  content: url("/Images/carrinho.png");
  top: 0;
  right: 15rem;
}

.ContentImageBackground span {
  color: var(--blue200);
}

.SectionChildren {
  grid-column: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--white100);
  margin: 0 auto;
}
