.NavBar {
  display: grid;
  justify-content: center;
  grid-template-columns: 35rem 30rem;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 0.5rem 0.5rem 0.6rem 0.5rem;
  background: var(--blue700);
  filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--black800));
}

.ContentLogo {
  display: flex;
  grid-row: 1;
  align-items: center;
  gap: 1rem;
}

.ContentLogo div {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.ContentLogo h1 {
  color: var(--blue500);
  font-size: 1.7rem;
  font-weight: 600;
}

.ContentLogo span {
  color: var(--blue200);
  font-weight: 500;
}

.ContentLogo .ContainerSearch {
  width: 100%;
}

.ContentLogo input {
  flex: 1;
  padding: 0.7rem 0 0.6rem 0.6rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  outline: none;
  border: none;
  width: 100%;
}

.ContainerLinks {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  gap: 1.5rem;
}

.UserDetails {
  grid-row: 1;
  grid-column: 2;
}

.UserDetails div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.UserDetails div span {
  color: var(--blue200);
}

.ContainerLinks span,
.UserDetails div p,
.ContainerInfo span {
  color: var(--whiteFull);
}

.ContainerLinks .Category,
.ContainerInfo .UserInfo,
.ContainerInfo .Favorites {
  position: relative;
}

.ContainerLinks .Category::after,
.ContainerInfo .UserInfo::after,
.ContainerInfo .Favorites::after {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  transform: rotate(45deg);
  color: var(--whiteFull);
  top: 0.2rem;
  right: -0.8rem;
  position: absolute;
  padding: 2px;
}

.ContainerInfo {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  gap: 1.5rem;
}

.DivCategory {
  position: relative;
}

.ContentDropdownCategories {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2rem;
  background: var(--mainBackground);
  top: 2rem;
  left: 1rem;
  gap: 0.8rem;
  border-radius: 0.2rem;
  width: 10rem;
  z-index: 100;
}

.ContentDropdownCategories::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid var(--mainBackground);
  top: -0.7rem;
  left: 4rem;
}

.DivCategory .ContentDropdownCategories div {
  width: 100%;
  flex: 1 1 auto;
  padding: 0.5rem;
  text-align: left;
}

.DivCategory .ContentDropdownCategories span {
  font-size: 1rem;
}

.DivCategory .ContentDropdownCategories div:hover {
  background: var(--blue200);
}
