.NavBar {
    display: flex;
    padding: 0.5rem;
    background: var(--gray-200);
}

.SectionLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ContainerLinks {
    display: flex;
    gap: 1rem;
}