.MainContainerPageLogin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ContentImageBackground {
    grid-column: 1;
}

.ImageLogin {
    width: 50vw;
    height: 100%;
}

.ArticleTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 5rem auto;
    gap: 0.7rem;
}

.ArticleTitle h1 {
    font-weight: 400;
    font-size: 2rem;
}

.ArticleTitle span {
    text-align: justify;
}

.MainContainerLoging {
    width: 100%;
    grid-column: 2;
}
