.ArticleTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 3rem auto;
  gap: 0.7rem;
}

.ArticleTitle h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

.ArticleTitle p {
  text-align: justify;
  font-size: 1rem;
}

.MainContainerLoging {
  width: 100%;
  grid-column: 2;
  padding-bottom: 3rem;
}

.ContentFormLogin {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.ContentFormLogin .ContainerOptions {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ContainerOptions .InputName {
  width: 25rem;
}

.ContainerOptions .InputCPF {
  width: 7rem;
}

.ContainerOptions .InputEmail {
  width: 22rem;
}

.ContainerOptions .InputPassword {
  width: 15rem;
}

.ContainerOptions .InputBirthdate {
  width: 6rem;
}

.ContainerOptions .InputPhone {
  width: 8rem;
}

.ContentFormLogin form .ErrorInput {
  border: 0.1rem solid var(--redError);
}

.ContentFormLogin form .AcceptInput {
  border: 0.1rem solid var(--green400);
}

.ContentFormLogin form .SpanErrorRender {
  color: var(--redError);
  margin: 0.5rem 0 1rem;
}

.ContentFormLogin form .SpanInfo {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--gray400);
}

.ContentGender {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.ContentGender .OptionsGender {
  display: flex;
  grid-row: 1;
}

.OptionsGender label {
  display: flex;
  gap: 0.3rem;
}

.ContentGender div:nth-child(4) {
  grid-row: 2;
}

.ContentGender input {
  width: 1.5rem;
  height: 1.5rem;
}

.ContainerButton div:nth-child(2) p {
  margin-top: 0.8rem;
  flex-direction: column;
  text-align: center;
}

.ContainerButton button {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  outline: none;
  border: none;
  background: linear-gradient(
    to bottom right,
    var(--button500),
    var(--button600)
  );
  color: var(--whiteFull);
  cursor: pointer;
}

.ContainerButton button span {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.ContainerButton .LinkPolitic,
.ContainerButton .LinkLogin {
  font-weight: 500;
  cursor: pointer;
  color: var(--gray400);
}

.ContainerButton button[type="submit"]:hover {
  background: linear-gradient(
    to bottom right,
    var(--button700),
    var(--button600)
  );
}

.ContentFormLogin form input {
  padding: 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--gray-200);
  outline: none;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.ContentFormLogin form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ContentFormLogin form label {
  margin-bottom: 0.3rem;
}
