.SectionRedirect div h1,
.SectionRedirect div p,
.SectionRedirect div button,
.InfoAppForUser div p,
.InfoAppForUser div h3 {
  color: var(--whiteFull);
}

.LogoSantana {
  display: flex;
  align-items: center;
  justify-self: center;
  grid-column: 1;
  gap: 0.4rem;
}

.LogoSantana .LogoHeader {
  width: 100%;
  height: auto;
}

.LogoSantana .Name {
  color: var(--blue500);
  font-size: 1.7rem;
  font-weight: 600;
}

.LogoSantana .Domain {
  color: var(--blue200);
  font-weight: 500;
}

.ButtonApp button:hover {
  background: var(--blue200);
}

.SectionRedirect div h1 {
  font-weight: 600;
}

/* 767 mobile, 768~1023 tablet,
1024~1439 laptop */

@media only screen and (min-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media only screen and (min-width: 1440px) {
  .Header {
    display: flex;
    padding: 0.3rem;
    background: var(--blue700);
    width: 100%;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--black800));
  }

  .Main {
    width: 100%;
    height: 100%;
  }

  .SectionRedirect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    margin: 0.8rem;
  }

  .SectionGuide {
    width: 100%;
  }

  .Guide h1,
  .AboutSantanaApp h2 {
    font-size: 2rem;
    color: var(--whiteFull);
  }

  .Guide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56rem;
    background: var(--button700);
  }

  .DivBorder {
    width: 0.4rem;
    height: 20rem;
    border-radius: 0.5rem;
    background: var(--whiteFull);
  }

  .VideoGuide {
    width: 60rem;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--black800));
    border-radius: 0.5rem;
  }

  .ButtonApp {
    display: flex;
    align-items: center;
    justify-self: center;
    grid-column: 2;
    gap: 0.4rem;
  }

  .ButtonApp button {
    padding: 0.5rem;
    background: var(--blue500);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--black800));
  }

  .AboutSantanaApp {
    height: 56rem;
    background: var(--button600);
  }

  .AboutSantanaApp .Title {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
  }

  .InfoAppForUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .InfoAppForUser div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
  }

  .InfoAppForUser article {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 23rem;
    background: var(--blackFull);
    border-radius: 1rem;
    overflow: hidden;
  }

  .InfoAppForUser .ImageArticle {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .InfoAppForUser div p {
    width: 20rem;
    text-align: center;
  }

  .Footer {
    text-align: center;
    padding: 2rem;
    background: var(--button700);
  }

  .Footer .DirectsReserved p {
    color: var(--whiteFull);
  }
}
