.MainContainerPageLogin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-bottom: 5rem;
}

.ContentImageBackground {
  grid-column: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.ImageLogin {
  width: 50vw;
  height: 100%;
}

.ArticleTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 3rem auto;
  gap: 0.7rem;
}

.ArticleTitle h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

.ArticleTitle p {
  text-align: justify;
  font-size: 1rem;
}

.MainContainerLoging {
  width: 100%;
  grid-column: 2;
}

.ContentFormLogin {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.ContentFormLogin form {
  display: flex;
  flex-direction: column;
}

.ContentFormLogin .ContainerOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ContainerOptions .InputName {
  width: 25rem;
}

.ContainerOptions .InputCPF {
  width: 7rem;
}

.ContainerOptions .InputEmail {
  width: 22rem;
}

.ContainerOptions .InputPassword {
  width: 15rem;
}

.ContainerOptions .InputBirthday {
  width: 6rem;
}

.ContainerOptions .InputPhone {
  width: 8rem;
}

.ContentFormLogin form .ErrorInput {
  border: 0.1rem solid var(--redError);
}

.ContentFormLogin form .SpanErrorRender {
  color: var(--redError);
  margin: -0.5rem 0 1rem;
}

.ContentGender {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.ContentGender .OptionsGender {
  display: flex;
  align-items: center;
  grid-row: 1;
}

.OptionsGender label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.ContentGender div:nth-child(4) {
  grid-row: 2;
}

.ContentGender input {
  width: 1.5rem;
  height: 1.5rem;
}

.ContainerButton p {
  width: 24rem;
  margin-bottom: 1.5rem;
}

.ContainerButton button {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  outline: none;
  border: none;
  background: linear-gradient(
    to bottom right,
    var(--button500),
    var(--button600)
  );
  color: var(--whiteFull);
  cursor: pointer;
}

.ContainerButton button span {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.ContainerButton .LinkPolitic {
  font-weight: 500;
  cursor: pointer;
}

.ContainerButton button[type="submit"]:hover {
  background: linear-gradient(
    to bottom right,
    var(--button700),
    var(--button600)
  );
}

.ContentFormLogin form input {
  padding: 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--gray-200);
  outline: none;
  font-size: 1rem;
}
