:root {
  --mainYellow: #ffff00;
  --green400: #41f781;
  --whiteFull: #fff;
  --white100: #fffbfb;
  --blue700: #02162E;
  --button700: #121b31;
  --button600: #243257;
  --gray-200: #ccc;
  --gray400: #2c2b2b;
  --redError: #e91515;
  --green400: #59f04c;
  --black800: #111;
  --blue500: #ffee00;
  --blue200: #38b6ff;
  --test: #e6e6ea;
  --mainBackground: #607099;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

.LinkDefault {
  text-decoration: none;
  color: var(--black800);
  cursor: pointer;
}
