:root {
  --mainYellow: #ffff00;
  --whiteFull: #fff;
  --yellow400: #d0e156;
  --button500: #1e2f4d;
  --button700: #121b31;
  --button600: #243257;
  --gray-200: #ccc;
  --redError: #e91515;
  --green400: #59f04c; 
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}
